body {
  font-family: "Arial", sans-serif;
  background-color: #f1e6f1; /* Light neutral background */
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Navbar */
.navbar {
  background-color: #f5d7f5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem; /* Reduce la altura del navbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar links */
.navbar-brand {
  font-family: Arial, sans-serif;
  font-size: 24px; /* Tamaño de fuente ajustado para destacar la marca */
  font-weight: bold;
  color: #333 !important;
}

.nav-link {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333 !important;
  position: relative;
  margin: 0 1rem; /* Espaciado entre los enlaces */
  padding-bottom: 8px; /* Espacio adicional debajo para el subrayado */
  text-transform: uppercase; /* Poner en mayúsculas para un estilo similar */
}

/* Subrayado de enlace activo */
.nav-link.active {
  color: #333 !important;
}

.nav-link.active::after,
.nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: blueviolet; /* Color de subrayado en hover y activo */
  opacity: 1;
  transition: all 0.2s;
}


/* Contenedor principal */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 30px;
  margin-top: 8%;
  margin-bottom: 4%;
}

/* Contenedor y tamaño fijo de la imagen */
.img-container {
  width: 400px; /* Mismo ancho que el formulario */
  height: 500px; /* Mismo alto que el formulario */
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra similar al formulario */
}

/* Contenedor de inicio de sesión */
.login-container {
  width: 400px; /* Ancho del formulario */
  height: 500px; /* Alto del formulario */
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra similar a la imagen */
}

.login-container h2 {
  color: #7b2b8b;
  font-weight: bold;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

.form-control {
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #6c107c;
  color: white;
  border-radius: 8px;
  border: none;
  margin-top: 1rem;
  margin-bottom: auto;
 /* Espacio debajo del botón */
}

.btn:hover {
  background-color: #9b5aa7;
  color: white;
}

.d-none {
  display: none !important;
}


/* Links */
.login-container a {
  color: #a675c9;
}

.login-container a:hover {
  text-decoration: underline;
}



/* Estilo para los enlaces */
a {
  text-decoration: none;  /* Quitar el subrayado por defecto */
  transition: color 0.3s ease; /* Transición suave del color */
}

/* Estilo cuando el cursor pasa por encima del enlace */
a:hover {
  color: #ff33b8;  /* Color cuando el cursor está sobre el enlace */
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column; /* Coloca los elementos en una sola columna */
  }
}





/* Footer */
.footer {
  background-color: #af8fb5;
  color: #4d0d47;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  position: relative; /* Evita que se superponga con el contenido */
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  text-align: center;
  color: #2a1325;
}

.footer-section a img {
  width: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.footer-section a img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  position: relative;
  color: #231f20;
}

.footer-section h3::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #a56cae;
  margin: 5px auto;
}

.footer-section p {
  font-size: 0.95em;
  line-height: 1.5;
}

.icon {
  width: 26px;
  vertical-align: middle;
  margin-right: 8px;
}

.social-icons img {
  width: 26px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .main-container    {
  height: 70%;
  width: auto;
    }
}

@media (max-width: 600px) {
  .login-container {
  height: 70%;
  width: auto;
    }
}


